*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.mobile{
    max-width: 480px;
    border: 1px solid gray;
    height: 1200;
    border-radius: 2rem;
    overflow: hidden;
    margin : auto;
}

menu,nav{
    display: flex;
    justify-content: space-between;
}

header{
    position: relative;
    color: white;
}

nav{
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
    align-items: flex-start;
}

nav img{
    height: 6rem;
}
.img-container{
    filter: drop-shadow(0 10px 4px rgba(0,0,0,0.5));
}

.img-container > img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    clip-path: ellipse(100% 100% at 50% 0%);
    
}



ul{
    display: flex;
}

li span{
    display: block;
    margin-bottom: 0.25rem;
}
.info{
    margin: 1rem auto;
    justify-content: center;
}

.info li + li{
    margin-left: 2rem;
}
.show{
    text-align: center; 
}




menu{
    height: 3rem;
    transform: translateY(-50%);
    padding: 0 1.5rem; 
    color: #222;
    align-items: flex-end;
}

:root{
    font-family: 'Roboto', sans-serif;
}
section.screenshots {
    margin-top: 2rem;
    width: 800px;

}
.screenshots-list img{
    width: 12rem;
    height: 6rem;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 10px 14px 4px rgba(0,0,0,0.45);
}

.screenshots-list li + li{
    margin-left: 1rem;
}


section {
    margin-top: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}
.active{
    color: #df3e54;
}

.play-button{
     background: white;
     color: #df3e54;
     font-size: 2rem;/*1rem*/
     line-height: 3rem;
     width: 5rem;/*3rem*/
     height: 5rem;/*3rem*/
     border-radius: 9999px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.5);
}

menu i{
    font-size: 1.5rem;
}



.text-gray{
    color: #999;
}

/* .font-bold{
    font-weight: bold;
} */

.text-sm{
    font-size: 0.8rem;
}

.description{
    line-height: 1.5rem;
}




.rating{
    display: flex;
    justify-content: center;
    
}

section {
    padding: 0 1.5rem;
}
h1,p,.rating{
    margin-bottom: 0.75rem;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}